ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    text-align: center;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: yellow;
}
#logo {
    height: 60px;
    width: 300px;
    margin-top: 60px;
    text-align: right;
}
h1 {
    font-size: 60px;
    text-align: center;
    font-family: Algerian;
    color: blue;
}
h2 {
    text-align: center;
}
.style {
    height:200px;
    width:500px;
    border:1px solid #ccc;
    font-family: Georgia;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}
#mods {
    font-size: 60px;
    text-align: center;
    font-family: Algerian;
    color: yellow;
}